.container {
  border: 2px solid #333;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr 50vh 1fr;
  max-height: 90vh;
  min-width: 50vw;
}

.header-container {
  padding: 12px 20px;
}
.header {
  font-weight: bold;
  font-size: 2rem;
}

.body {
  padding: 12px 20px;
  border-top: 1px solid #333;
  overflow: scroll;
}
.footer {
  padding: 12px 20px;
  border-top: 1px solid #333;
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 12px;
  justify-content: end;
}
